/.vscode/
/.pylintrc
/.mypy.ini
/.globalrc
/.readthedocs.yaml
/.travis.yml
/.uncrustify.cfg
/3rdparty/
/BUGS.md
/ChangeLog
/ChangeLog.d/
/configs/
/CONTRIBUTING.md
/DartConfiguration.tcl
/dco.txt
/*.tgz
/docs/
/doxygen/
/programs/
/scripts/
/SECURITY.md
/SUPPORT.md
/tests/
/visualc/
